@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px; 
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    background-color: #e7e7e7;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


.splideSliderSection { padding: 100px 0; }
.wrapper { max-width: 1580px; width: 100%; margin: 0 auto; padding: 0 15px; }
.splide__slide { background-color: crimson; padding: 100px; text-align: center; font-size: 36px; font-weight: 500; color: #FFF; }
.splide__track { margin: 0 5rem; }

h1 {
    font-size: 64px;
}